*{
	font-family: 'Open Sans', sans-serif;
}
body {
	padding-top: 10px;
	background: #f5f5f5;
}
header img{
	width: 150px;
	padding-bottom: 30px;
}
footer{
	text-align: center;
	color: #434343;
	font-size: 12px;
}
.category-title{
	text-align: center;
	font-size: 26px;
	color: #649c35bd;
}
.category-title small{
	color: #737373;
	font-size: 12px;
}
table .img {
	width:70px;
}
table .name {

}
.product-price {
	text-align: center;
	padding: 6px;
	font-size: 18px;
}
.delete {
	color:#e66363;
	cursor:pointer;
	margin-left: 10px;
	font-size: 14px;
}
.edit {
	color:#007bff;
	font-size: 14px;
	cursor:pointer;
}
#templates {
	display: none;
}
.extraInfo {
	font-size: 14px
}
.extraInfo i{
	color: rgb(185, 185, 185);
}
.slogan {
	font-size: 18px; color: #4a4a4a;
}
.card {
	padding:10px;
	margin:10px;
}
@media only screen and (max-width: 580px) {
	.slogan {
		display: none;
	}
}