{% extends 'marketplace/layout.html' %}
{% load static %}

{% block content %}

<div id="templates">
    <div>
        <table>
            <tr class="product">
                <td class="img align-middle"><img class="img-fluid" width="50" src='{% static "marketplace/img/icons/" %}Unknown.png'></td>
                <td class="name"><span class="float-left" data-placeholder="name"></span><div class="float-right delete deleteProduct"><i class="fas fa-minus-circle"></i> Delete</div>
                    <div class="clearfix"></div>
                    <input type="hidden" name="name[]" value="" data-name="name">
                    <input type="hidden" name="category[]" value="" data-category="category">

                    <input type="number" class="form-control product-price w-50 float-left" name="price[]" value="1">

                    <select class="form-control product-price w-50 float-left" name="unit[]">
                        {% for unit in all_units %}
                        <option value="{{ unit.id }}">{{ unit.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<form action="{% url 'marketplace:save' %}" method="post">
{% csrf_token %}
<div class="container">
    {% if success %}
<div class="alert alert-success">
  <strong>Success!</strong> The product prices are saved successfully
</div>
{% endif %}

<div class="row">

    {% for category in all_categories %}
    <section class="col category">
        <h1 class="category-title">{{ category.name }}<br><small>Price in CEDI</small></h1>

        <table class="table table">
            <tbody>
                {% for product in all_products %}
                {% if product.category_id == category.id %}
                <tr>
                    <td class="img align-middle"><img class="img-fluid" width="50" src='{% static "marketplace/img/icons/" %}{{ product.name }}.png'></td>
                    <td class="name"><span class="float-left">{{ product.name }}</span> <div class="float-right delete deleteProduct"><i class="fas fa-minus-circle"></i> Delete</div>
                        <div class="clearfix"></div>
                        <input type="hidden" name="name[]" value="{{ product.name }}">
                        <input type="hidden" name="category[]" value="{{ product.category_id }}">
                        <input type="number" class="form-control product-price w-50 float-left" name="price[]" value="{{ product.price }}">

                        <select class="form-control product-price w-50 float-left" name="unit[]">
                            {% for unit in all_units %}
                            <option value="{{ unit.id }}" {% if product.unit_id == unit.id %}selected="selected"{% endif %}>{{ unit.name }}</option>
                            {% endfor %}
                        </select>

                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td><td><button class="save btn btn-sm btn-outline-secondary addProduct" data-category-id="{{ category.id }}"><i class="fas fa-plus"></i> Add</button></td>
                </tr>
            </tfoot>
        </table>

    </section>
    {% endfor %}

</div>

</div>
    <div class="container text-center">
        <button type="submit" class="save btn btn-lg btn-outline-success"><i class="fas fa-save"></i> Save changes</button>
    </div>
    <div class="container text-center mt-3 ">
        <a href="/">Back to overview</a>
    </div>
</form>
<script src="{% static "marketplace/js/housekeeping.js" %}"></script>
{% endblock %}
