{% extends 'marketplace/layout.html' %}
{% load static %}

{% block content %}
    {% for category in all_categories %}
    {% if not forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
    <section class="card col category">
        <h1 class="category-title card-title">{{ category.name }}<br></h1>

        <table class="table table">
            <tbody>
                {% for product in all_products %}
                {% if product.category_id == category.id %}
                <tr>
                    <td class="img"><img class="img-fluid" width="50" src='{% static "marketplace/img/icons/" %}{{ product.name }}.png'></td>
                    <td class="name">
                        {{ product.name }}<br>
                        {{ product.price }} <small>CEDI per {{ product.unit.name }}</small><br>
                        <div class="extraInfo">
                            {% if product.seller_name %}<i class="fas fa-user"></i> {{ product.seller_name }}<br>{% endif %}
                            {% if product.seller_location %}<i class="fas fa-location-arrow"></i> {{ product.seller_location }}<br>{% endif %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </section>
    
    {% if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}
    {% endfor %}
<div class="text-center">
    <a href="/market-leader">For market leader</a>
</div>
{% endblock %}
