{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MarPrice - For the right price</title>
    <link rel="stylesheet" href="{% static "marketplace/css/vendors/bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "marketplace/vendors/fontawesome/css/fontawesome-all.css" %}" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static "marketplace/css/style.css" %}" rel="stylesheet">

    <script src="{% static "marketplace/js/vendors/jquery-3.2.1.min.js" %}" crossorigin="anonymous"></script>
</head>
<body class="container">

    <header class="container text-center">
        <a href="/"><img src="{% static "marketplace/img/logo.jpeg" %}" class="img-fluid"></a> <span style="font-size: 18px; color: #4a4a4a;">Find the right price for your products</span>
    </header>

    {{title}}
    {% block content %}
    {% endblock %}
    <hr/>
    <footer class="pb-4">
        &copy; Vrije Universiteit Amsterdam - ICT4D 2018 - Group 2
    </footer>

    <script src="{% static "marketplace/js/vendors/bootstrap.min.js" %}"></script>

</body>
</html>
